body {
  background-color: #81ecec;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.row {
  justify-content: center;
}

.quote-container {
  flex-direction: column;
  padding: 50px;
  width: 50%;
  border: 1px solid #00cec9;
  background-color: #00cec9;
  border-radius: 50px;
}

img {
  width: 50%;
  height: 120px;
}

body,
.row,
.quote-container,
.quote-img {
  display: flex;
}

.next-share {
  align-self: center;
  margin-top: 30px;
}
